@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <a class="btn btn-outline-info" asp-action="MyId" asp-controller="Home">View ID</a>
    <a class="btn btn-outline-info" asp-action="Create" asp-controller="Users">Create a User</a>
    <a class="btn btn-outline-info" asp-action="Calculation" asp-controller="Home">The Calculation</a>
    <a class="btn btn-outline-info" asp-action="Read" asp-controller="Home">Read the File</a>
</div>
